.card {
    padding-left: 10px;
    padding-right: 10px;
    width: 45%;
    margin: 10px;
}

.uneditable {
    background-color: lightgray;
}

.stat {
    width: auto;
    margin-right: 3px;
}

.general-info {
    background-color: crimson;
    margin-top: 5px;
    text-align: center;
    font-size: larger;
    border-radius: 5px;
}

.mac-info {
    background-color: wheat;
    margin-top: 10px;
    text-align: center;
    font-size: larger;
    border-radius: 5px;
    padding-left: 0;
}

.info-header {
    background-color: black;
    color: wheat;
}

.main-content {
    margin: 5px;
    background-color: lightgray;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.mac-content {
    margin: 5px;
    background-color: lightgray;
    border-radius: 5px;
    border-color: black;
    border-width: 1px;
    border-style: solid;
}

.save-button {
    left: 0;
    width: 100%;
    background-color: #B00015;
    font-size: larger;
}

.invisibleDiv {
    visibility: hidden;
}

.arpInput {
    width: auto;
}

.prankButton {
    background-color: transparent;
    color: transparent;
    border: none;
}

.prankButton:hover {
    background-color: #B00015;
    color: black;
}

body {
    margin-left: 2%;
    margin-right: 2%;
    background-color: silver;
    font-family: "Padauk Book";
    font-size: larger;
}