/*Header*/
.main-header {
    margin-bottom: 2em;
}

/*Content*/
.header {
    font-weight: bolder;
    font-size: larger;
    background-color: #32a1ce;
    color: floralwhite;
    margin-bottom: 0.5em;
}

.header-yellow {
    font-weight: bolder;
    font-size: larger;
    background-color: gold;
    color: #32a1ce;
    margin-bottom: 0.5em;
}

.input-group {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.content-row {
    padding-bottom: 1em;
    border: #32a1ce thin solid;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 1em;
    /*margin-right: 0.5em;*/
    /*margin-left: 0.5em;*/
}

.statLabel {
    width: auto;
}

.far-right {
    margin-right: 1em;
}

.far-bottom {
    margin-bottom: 0.1em;
}

/*Tables*/
.table-scroll tbody {
    position: absolute;
    overflow-y: scroll;
    border-left: #32a1ce thin solid;
    padding-left: 1em;
    width: fit-content;
}

.table-scroll tr {
    width: 100%;
    table-layout: fixed;
    display: inline-table;
}

.table-scroll thead > tr {
    border-left: #32a1ce thin solid;
}

.table-scroll thead > tr > th{
    padding-left: 1em;
    width: max-content;
}

.aclTd {
    margin-left: 1em;
    border-right: #32a1ce thin solid;
    width: 20%;
}

td {
    width: min-content;
}

.arpRow {
    display: flex;
    justify-content: space-evenly;
}

/*Rest*/
body {
    width: 30%;
    padding-left: 1em;
    display: inline;
    justify-content: center;
}

.prank {
    background-color: white;
    color: white;
    border: none;
}

.prank:hover {
    box-shadow: 10px 10px 5px lightpink;
}